<h1>Reactive Form with FormGroup</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" formControlName="name" type="text" />
    <div *ngIf="submitted && userForm.controls['name'].errors?.['required']" class="error">
      Name is required!
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="submitted && userForm.controls['email'].errors?.['required']" class="error">
      Email is required!
    </div>
    <div *ngIf="submitted && userForm.controls['email'].errors?.['email']" class="error">
      Please enter a valid email!
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>

<div *ngIf="submitted && userForm.valid">
  <h3>Form Data:</h3>
  <pre>{{ userForm.value | json }}</pre>
</div>
